@import "_custom-properties.css";

/*-----------------------
## CUSTOM STYLE ADDITIONS
------------------------*/

/* add custom title styles */
h1,
h2,
h3,
h4,
h5,
h6 {

	&.is-style-underlined {

		line-height: 1.8;

		& span {
			border-bottom: 4px solid var(--color-theme-secondary);
		}

		& a {
			color: var(--color-theme-white);

			&:hover {
				color: var(--color-theme-secondary);
			}
		}
	}
}

.has-theme-blue-background-color,
.has-theme-secondary-background-color {

	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {

		&.is-style-underlined {

			& span {
				border-color: var(--color-theme-white);
			}
		}
	}
}

.is-display-block {
	display: block !important;
}

.is-display-inline {
	display: inline !important;
}

.is-display-inline-block {
	display: inline-block !important;
}

/*
experimental: reduce font weight for inverted texts;
bad idea due to side-effects */

/*
p {

	&.has-theme-white-color,
	&.has-theme-yellow-color,
	&.has-theme-daylight-color {
		font-weight: lighter;
	}
}
*/

.has-padding-removed {
	padding: 0 !important;
}

/*--------------------------------------------------------------
## Blocks
--------------------------------------------------------------*/

/*
 * Available block selectors:
 * .wp-block-image
 * .wp-block-media-text
 * .wp-block-gallery
 * .wp-block-audio
 * .wp-block-video
 * .wp-block-quote
 * .wp-block-cover
 * .wp-block-file
 * .wp-block-button
 * .wp-block-gallery
 * .wp-block-table
 * .wp-block-embed
 * .wp-block-audio
 * .wp-block-pullquote
 * .wp-block-preformatted
 * .wp-block-code
 * .wp-block-verse
 * .wp-block-table
 * .wp-block-separator
 * .wp-block-columns
 * .wp-block-column
 * .wp-block-latest-posts
 * .wp-block-categories
 * .wp-block-archives
 */

.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
	margin: 1.5em auto;
	padding: 0 1em;
}

.entry-content > .wp-block-quote,
.entry-content > .wp-block-quote.is-style-large {
	margin-left: 1.5rem;
}

@media (--content-query) {

	.entry-content > .wp-block-quote,
	.entry-content > .wp-block-quote.is-style-large {
		margin-left: auto;
	}
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
	border-left-color: var(--color-quote-border);
}

.wp-block-quote__citation,
.wp-block-quote cite,
.wp-block-quote footer {
	border-left-color: var(--color-quote-citation);
}

.wp-block-cover {
	display: flex;
	align-items: center;
}

.wp-block-cover__inner-container > * {
	max-width: var(--content-width);
	margin-left: auto;
	margin-right: auto;
}

.wp-block-cover .wp-block-cover-text,
.wp-block-cover p {
	margin-top: 0;
}

/* Columns Block */
.wp-block-column {
	flex-basis: 100%;
}

.wp-block-column:not(:last-child),
.wp-block-column:nth-child(2n + 1) {
	margin-right: 0;
}

.wp-block-column:not(:first-child) {
	margin-left: 0;
}

.wp-block-latest-posts,
.wp-block-latest-comments {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	border: 1px solid hsl(0, 0%, 80%);
}

ul.wp-block-latest-posts.alignwide,
ul.wp-block-latest-posts.alignfull,
ul.wp-block-latest-posts.is-grid.alignwide,
ul.wp-block-latest-posts.is-grid.alignfull {
	padding: 0 1.5em;
}

/*--------------------------------------------------------------
# Gallery Block - overrides core styles
--------------------------------------------------------------*/

.wp-block-gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 0.5em;
}

.wp-block-gallery:not(.components-placeholder) {
	margin: 1.5em auto;
}

/* Override standard ul indentation. */

.entry-content .wp-block-gallery {
	padding-right: 1.5em;
	padding-left: 1.5em;
}

@media screen and (min-width: 48em) {

	.entry-content .wp-block-gallery {
		padding-right: 0;
		padding-left: 0;
	}
}

.wp-block-gallery.columns-2 .blocks-gallery-item,
.wp-block-gallery.columns-3 .blocks-gallery-item,
.wp-block-gallery.columns-4 .blocks-gallery-item,
.wp-block-gallery.columns-5 .blocks-gallery-item,
.wp-block-gallery.columns-6 .blocks-gallery-item,
.wp-block-gallery.columns-7 .blocks-gallery-item,
.wp-block-gallery.columns-8 .blocks-gallery-item,
.wp-block-gallery.columns-9 .blocks-gallery-item {
	grid-column: span 1;
	margin: 0;
	width: inherit;
}

.blocks-gallery-item:last-child:nth-child(odd) {
	grid-column: span 2;
}

@media screen and (min-width: 40em) {

	.wp-block-gallery.columns-2 {
		grid-template-columns: repeat(2, 1fr);
	}

	.wp-block-gallery.columns-3 {
		grid-template-columns: repeat(3, 1fr);
	}

	.wp-block-gallery.columns-4 {
		grid-template-columns: repeat(4, 1fr);
	}

	.wp-block-gallery.columns-5 {
		grid-template-columns: repeat(5, 1fr);
	}

	.wp-block-gallery.columns-6 {
		grid-template-columns: repeat(6, 1fr);
	}

	.wp-block-gallery.columns-7 {
		grid-template-columns: repeat(7, 1fr);
	}

	.wp-block-gallery.columns-8 {
		grid-template-columns: repeat(8, 1fr);
	}

	.wp-block-gallery.columns-9 {
		grid-template-columns: repeat(9, 1fr);
	}
}

/*--------------------------------------------------------------
# Button Block - overrides core styles
--------------------------------------------------------------*/

.button,
.wp-block-button .wp-block-button__link {
	font-family: var(--highlight-font-family);
	font-weight: 600;
	font-size: var(--font-size-regular);
	text-transform: uppercase;
	padding: var(--global-input-padding);
	margin: 0.25rem 0; /* add some margin, maybe */
	transition: all 0.2s ease;

	&:not(.has-text-color) {
		color: var(--color-theme-white);

		&.has-theme-white-background-color,
		&.has-theme-grey-background-color,
		&.has-theme-daylight-background-color {
			color: var(--color-theme-primary);
		}
		/*&.has-theme-primary-background-color,
		&.has-theme-secondary-background-color,
		&.has-theme-green-background-color,
		&.has-theme-red-background-color {
			color: var(--color-theme-white);
		}*/
	}
	/* still need specific color overrides due to nested coloring...ohmy! */
	&.has-text-color {
		&.has-theme-primary-color {
			color: var(--color-theme-primary);
		}
		&.has-theme-secondary-color {
			color: var(--color-theme-secondary);
		}
		&.has-theme-green-color {
			color: var(--color-theme-green);
		}
		&.has-theme-blue-color {
			color: var(--color-theme-blue);
		}
		&.has-theme-red-color {
			color: var(--color-theme-red);
		}
		&.has-theme-yellow-color {
			color: var(--color-theme-yellow);
		}
		&.has-theme-black-color {
			color: var(--color-theme-black);
		}
		&.has-theme-white-color {
			color: var(--color-theme-white);
		}
	}

	&:hover,
	&:focus,
	&:active {
		box-shadow: var(--global-input-box-shadow);

		/* needs !important due to block editor preview and in case button sits on custom colored backgrounds */
		&.has-theme-primary-background-color {
			background-color: var(--color-theme-green) !important;
		}
		&.has-theme-secondary-background-color {
			color: var(--color-theme-secondary) !important;
			background-color: var(--color-theme-white) !important;
		}
		&.has-theme-green-background-color {
			background-color: var(--color-theme-secondary) !important;
		}
		&.has-theme-blue-background-color {
			color: var(--color-theme-blue) !important;
			background-color: var(--color-theme-white) !important;
		}
		&.has-theme-red-background-color {
			color: var(--color-theme-red) !important;
			background-color: var(--color-theme-white) !important;
		}
		&.has-theme-yellow-background-color {
			color: var(--color-theme-yellow) !important;
			background-color: var(--color-theme-white) !important;
		}
		&.has-theme-black-background-color {
			color: var(--color-theme-black) !important;
			background-color: var(--color-theme-white) !important;
		}

		&.has-theme-white-background-color {
			color: var(--color-theme-white) !important;
			&:not(.has-text-color) {
				background-color: var(--color-theme-primary) !important;
			}
			&.has-theme-primary-color {
				background-color: var(--color-theme-primary) !important;
			}
			&.has-theme-secondary-color {
				background-color: var(--color-theme-secondary) !important;
			}
			&.has-theme-green-color {
				background-color: var(--color-theme-green) !important;
			}
			&.has-theme-blue-color {
				background-color: var(--color-theme-blue) !important;
			}
			&.has-theme-red-color {
				background-color: var(--color-theme-red) !important;
			}
			&.has-theme-yellow-color {
				background-color: var(--color-theme-yellow) !important;
			}
			&.has-theme-black-color {
				background-color: var(--color-theme-black) !important;
			}
		}
	}
}

@media (--tablet-up) {

	.button,
	.wp-block-button .wp-block-button__link {
		min-width: 12rem;
	}
}

/*--------------------------------------------------------------
# Group Block
--------------------------------------------------------------*/

.wp-block-group {

	&.is-style-centered {
		margin-left: auto;
		margin-right: auto;
	}

	&.is-style-reduced-width:not(.alignfull) {
		margin-left: auto;
		margin-right: auto;
		max-width: calc(25% + var(--content-width) / 2);
	}
}

/*--------------------------------------------------------------
# Social Links Block
--------------------------------------------------------------*/

.wp-block-social-links {

	&.is-style-logos-only .wp-social-link {
		width: auto;
		height: auto;

		&:last-child {
			margin-right: 0;
		}
	}
}

/*--------------------------------------------------------------
# Coblocks Overrides
--------------------------------------------------------------*/

.wp-block-coblocks-row[data-columns="1"] .wp-block-coblocks-column__inner > [class*="wp-block-"] {
	max-width: calc(25% + var(--content-width) / 2);
}
.wp-block-coblocks-gallery-carousel .coblocks-gallery--figure {
	margin: 0;
}

/* Since there's currently way to natively customize the row/column block breakpoints... */
@media (--mobile-only) {

	.wp-block-coblocks-row .wp-block-coblocks-row__inner {

		&.is-stacked-on-mobile {
			-ms-flex-direction: column;
			flex-direction: column;
		}
		&.is-stacked-on-mobile > [class*="wp-block-coblocks-"] {
			width: 100% !important;
		}
		& .wp-block-coblocks-column {
			margin-left: 0 !important;
			margin-right: 0 !important;
			margin-bottom: inherit !important;
		}
	}
}

/*--------------------------------------------------------------
# Gutenslider Overrides
--------------------------------------------------------------*/

.wp-block-eedee-block-gutenslider {

	& .slick-slider {
		margin: 0;
	}

	@media (--tablet-up) {

		& .slider-content__group {
			border-radius: calc(var(--global-border-radius) / 2);
			padding: calc(var(--global-padding) * 1.5) calc(var(--global-padding) * 2) var(--global-padding);
			background-color: rgba(255,255,255, 0.9);

			& h2 {
				margin-top: 0;
			}
		}
	}

	@media (--mobile-only) {

		& .slick-dots {
			display: none !important;
		}

		& .slick-track .slick-slide > div {
			display: block !important;
		}
		
		 
		& .eedee-background-div {

			position: relative !important;
			width: 100% !important;
			height: auto !important;

			& > img {
				position: relative !important;
				min-height: 60vh !important;
				height: 100% !important;
			}
		}

		& .slide-content {
			background-color: var(--color-theme-white);
			padding: 0 var(--global-padding) calc(var(--global-padding) * 2) !important;
			height: auto !important;
			min-height: auto !important;
		}

		& .wp-block-eedee-block-gutenslide.vertical-align-bottom .slide-content {
			justify-content: unset !important;
		}

	}
}
