/**
 * Custom Media Queries
 * Works like Custom Properties, except for media queries.
 *
 * @link: https://drafts.csswg.org/mediaqueries-5/#custom-mq
 **/

/* 2DO: maybe convert all remaining px to rem values */

@custom-media --narrow-menu-query screen and (max-width: 1024px);
@custom-media --wide-menu-query screen and (min-width: 1025px);
@custom-media --content-query screen and (min-width: 48rem);
@custom-media --sidebar-query screen and (min-width: 60rem);
@custom-media --small screen and (max-width: 480px);
@custom-media --mobile screen and (min-width: 481px) and (max-width: 768px);
@custom-media --mobile-up screen and (min-width: 481px);
@custom-media --mobile-only screen and (max-width: 768px);
@custom-media --tablet screen and (min-width: 769px) and (max-width: 1024px);
@custom-media --tablet-up screen and (min-width: 769px);
@custom-media --desktop screen and (min-width: 1025px) and max-width(1280px);
@custom-media --desktop-up screen and (min-width: 1025px);
@custom-media --widescreen screen and (min-width: 1281px);
