/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/

:root {
	--global-font-color: #000;
	--global-font-family: "Merriweather Sans", "Futura", sans-serif;
	--global-font-size: 18;
	--global-font-line-height: 1.4;
	--highlight-font-family: "Jost", "Helvetica Neue", "Arial Narrow", sans-serif;
	--decorative-font-family: "Cardenio Modern", "Helvetica Neue", "Arial Narrow", sans-serif;
	--container-width: 75rem; /* equals 1200px */
	--content-width: 45rem; /* equals 720px */
	--dropdown-symbol-width: 0.7em;

	/* Spacing */
	--global-margin: 1rem;
	--global-padding: 1rem;
	--global-content-padding: 1.25rem 1.875rem;

	--global-border-radius: 1.75rem;
	--global-input-padding: 0.75rem 1.875rem;
	--global-input-padding-small: 0.6rem .6rem;
	--global-input-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);

	/* Navbar & Search */
	--expandable-search-size-compact: 3.175rem;
	--expandable-search-size-expanded: 13rem;
	--expandable-search-size-wide: 15rem;

	/* Custom editor colors */
	--color-theme-primary: #1b7340;
	--color-theme-secondary: #90d3ed;
	--color-theme-red: #c0392b;
	--color-theme-green: #1da64a;
	--color-theme-blue: #00a0d2;
	--color-theme-yellow: #f1c40f;
	--color-theme-black: #000;
	--color-theme-grey: #95a5a6;
	--color-theme-white: #fff;
	--color-theme-smoke: #ecf0f1;
	--color-custom-daylight: #97c0b7;
	--color-custom-sun: #eee9d1;

	--color-link: #90d3ed;
	--color-link-visited: #00a0d2;
	--color-link-active: #00a0d2;

	--color-quote-border: #000;
	--color-quote-citation: #6c7781;

	/* Custom editor font sizes */
	--font-size-small: calc(16 / var(--global-font-size) * 1rem);
	--font-size-regular: calc(var(--global-font-size) / 16 * 1rem);
	--font-size-medium: calc(22 / var(--global-font-size) * 1rem);
	--font-size-mediumlarge: calc(30 / var(--global-font-size) * 1rem);
	--font-size-large: calc(39 / var(--global-font-size) * 1rem);
	--font-size-larger: calc(52 / var(--global-font-size) * 1rem);
}
