@import "_custom-properties.css";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/* stylelint-disable */
html {
	box-sizing: border-box;
}
/* stylelint-enable */

html, body {
	scroll-padding-top: 76px; /* make some (head)room for scroll anchor links */
}

/**
 * Inherit box-sizing to make it easier to change the property for
 * components that leverage other behavior; see
 * http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
	box-sizing: inherit;
}

/* stylelint-disable */
body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smooting: antialiased;
}
/* stylelint-enable */

/* stylelint-disable */
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
/* stylelint-enable */

ul,
ol {
	margin: 0 0 1.5em 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

/* stylelint-disable */
img {
	display: block;
	height: auto;
	max-width: 100%;
}
/* stylelint-enable */

/* Extra wide images within figure tags don't overflow the content area. */
figure {
	margin: 0.5em 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}
input[type="checkbox"]{
	position: absolute;
	visibility: hidden;

	& + label {
		position: relative;
		cursor: pointer;
		padding: 0;
		font-family: var(--highlight-font-family);
	}

	  & + label:before {
		content: '';
		margin-right: 10px;
		display: inline-block;
		vertical-align: text-top;
		width: 20px;
		height: 20px;
		border-radius: .1rem;
		background: var(--color-theme-smoke);
	}

	  &:hover + label:before {
		background: var(--color-link);
	}
	
	  &:focus + label:before {
		box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
	}

	  &:checked + label:before {
		background: var(--color-link-active);
	}
	  &:checked + label{
		font-weight: 600;
	}
	  &:disabled + label {
		color: #b8b8b8;
		cursor: auto;
	}

	  &:disabled + label:before {
		box-shadow: none;
		background: #ddd;
	}

	  &:checked + label:after {
		content: '';
		position: absolute;
		left: 5px;
		top: 9px;
		background: white;
		width: 3px;
		height: 3px;
		box-shadow: 
		  2px 0 0 white,
		  4px 0 0 white,
		  4px -2px 0 white,
		  4px -4px 0 white,
		  4px -6px 0 white,
		  4px -8px 0 white;
		transform: rotate(45deg);
	}
}