/*----------------------
# FONT DEFINITIONS
------------------------*/

/* stylelint-disable */

/** BODY FONT */

/* merriweather-sans-300 - latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Merriweather Sans Light'), local('MerriweatherSans-Light'),
			url('../fonts/merriweather-sans-v11-latin-300.woff2') format('woff2'),
      url('../fonts/merriweather-sans-v11-latin-300.woff') format('woff');
  font-display: swap;
}
/* merriweather-sans-300italic - latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Merriweather Sans Light Italic'), local('MerriweatherSans-LightItalic'),
       url('../fonts/merriweather-sans-v11-latin-300italic.woff2') format('woff2'),
       url('../fonts/merriweather-sans-v11-latin-300italic.woff') format('woff');
  font-display: swap;
}
/* merriweather-sans-regular - latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Sans'), local('MerriweatherSans-Regular'),
       url('../fonts/merriweather-sans-v11-latin-regular.woff2') format('woff2'),
       url('../fonts/merriweather-sans-v11-latin-regular.woff') format('woff');
  font-display: swap;       
}
/* merriweather-sans-italic - latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Merriweather Sans Italic'), local('MerriweatherSans-Italic'),
       url('../fonts/merriweather-sans-v11-latin-italic.woff2') format('woff2'),
       url('../fonts/merriweather-sans-v11-latin-italic.woff') format('woff');
  font-display: swap; 
}
/* merriweather-sans-700 - latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Sans Bold'), local('MerriweatherSans-Bold'),
       url('../fonts/merriweather-sans-v11-latin-700.woff2') format('woff2'),
       url('../fonts/merriweather-sans-v11-latin-700.woff') format('woff');
  font-display: swap; 
}
/* merriweather-sans-700italic - latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Merriweather Sans Bold Italic'), local('MerriweatherSans-BoldItalic'),
       url('../fonts/merriweather-sans-v11-latin-700italic.woff2') format('woff2'),
       url('../fonts/merriweather-sans-v11-latin-700italic.woff') format('woff');
  font-display: swap; 
}
/* merriweather-sans-800 - latin */
/*@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Merriweather Sans ExtraBold'), local('MerriweatherSans-ExtraBold'),
       url('../fonts/merriweather-sans-v11-latin-800.woff2') format('woff2'),
       url('../fonts/merriweather-sans-v11-latin-800.woff') format('woff');
}*/
/* merriweather-sans-800italic - latin */
/*@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Merriweather Sans ExtraBold Italic'), local('MerriweatherSans-ExtraBoldItalic'),
       url('../fonts/merriweather-sans-v11-latin-800italic.woff2') format('woff2'),
       url('../fonts/merriweather-sans-v11-latin-800italic.woff') format('woff');
}*/


/** DECORATIVE ALTERNATIVE FONT */

@font-face {
	font-family: 'Cardenio Modern';
	font-weight: normal;
	font-style: normal;
	src: local('Cardenio Modern Regular'), local('CardenioModern-Regular'),
		url('../fonts/CardenioModern-Regular.woff2') format('woff2'),
    url('../fonts/CardenioModern-Regular.woff') format('woff');
  font-display: swap; 
}

@font-face {
	font-family: 'Cardenio Modern';
	font-weight: bold;
	font-style: normal;
	src: local('Cardenio Modern Bold'), local('CardenioModern-Bold'),
		url('../fonts/CardenioModern-Bold.woff2') format('woff2'),
    url('../fonts/CardenioModern-Bold.woff') format('woff');
  font-display: swap; 
}

/* stylelint-enable */
