/*--------------------------------------------------------------
# Offcanvas
--------------------------------------------------------------*/

.js-hiraku-offcanvas-body-active .js-hiraku-offcanvas-sidebar-right.offcanvas__wrapper {
	color: var(--color-theme-white);
	background: var(--color-theme-primary);
	padding: var(--global-content-padding);
}

.offcanvas__content {

	/*display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 100%;*/

	& button.is-close span {
		background-color: var(--color-theme-white);
	}

}

.offcanvas__nav {
	margin: calc(var(--global-margin) * 1.5) 0 calc(var(--global-margin) * 3) var(--global-margin);

	@media (--mobile-up) {
		margin-left: calc(var(--global-margin) * 4);
	}

	& a {
		display: inline-block;
		font-family: var(--highlight-font-family);
		color: var(--color-theme-white);
	}

	& .menu {
		list-style: none;
		margin: var(--global-margin) auto;
		padding: 0;

		& > li > a {
			text-transform: uppercase;
			font-weight: 600;
			font-size: var(--font-size-mediumlarge);
			border-bottom: 5px solid var(--color-theme-secondary);

			&:hover {
				color: var(--color-theme-green);
				border-color: var(--color-theme-green)
			}
		}
	}

	& .sub-menu {
		list-style: none;
		margin: var(--global-margin) 0 calc(var(--global-margin) * 1.5);

		& a {
			font-size: var(--font-size-mediumlarge);
			transition: all 0.2s ease;

			&:hover {
				transform: translateX(-5px);
				opacity: 0.5;
			}
		}
	}
}

.offcanvas__footer {
	width: 100%;
	font-size: var(--font-size-small);
	text-align: center;
	padding: 0 calc(var(--global-padding) * 2);
}

