/*--------------------------------------------------------------
# Country List
--------------------------------------------------------------*/

.country-list__wrapper {}

.country-list__content {}

.entry-content {

	& .country-list {
		list-style: none;
		padding: 0;
	}

	& .country-list li {
		border-radius: 0.5rem;
		color: var(--body-font-color);
		border: 1px solid transparent;
		min-height: 56px;
		background-color: var(--color-theme-smoke);
		padding: calc(var(--global-padding) / 1.5) var(--global-padding);
		margin-bottom: calc(var(--global-margin) / 4);
		transition: background-color 0.2s ease, border 0.s linear 0.1s, box-shadow 0.2s ease, transform 0.2s ease;

		&:hover {
			background-color: var(--color-theme-white);
			border: 1px solid var(--color-theme-smoke);
			box-shadow: var(--global-input-box-shadow);
			transform: translateY(-2px);

			@media (--small) {
				transform: unset;
			}
		}
		& .country-inner__main{
			display: flex;
			justify-content: space-between;
			align-items: center;
			
			@media (--small) {
				flex-wrap: wrap;
			}
		}
		& .accordion {
			cursor: pointer;
			width: 100%;
			border: none;
			outline: none;
			-webkit-transition: .4s;
			transition: .4s;
			background: unset;
			color: var(--color-quote-citation);
			font-size: 15px;
			text-transform: uppercase;
			text-align: center;
			font-family: var(--highlight-font-family);
			font-weight: 600;

		  }
		  & .panel {
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.2s ease-out;

			& space{
				height: 10px;
				display: block;
			}
		}
		& .country-other__content{
			margin-top: 5px;
			padding-top: 5px;
			& .country-other__title{
				font-family: var(--highlight-font-family);
				text-transform:uppercase;
				font-weight:500;
				margin-left: calc(28px + .5rem);

				@media (--small) {
					margin-left:unset;
				}
			}
		
		}
		@media (--small) {
			padding: calc(var(--global-padding) / 1.5) calc(var(--global-padding));
		}
	}

	& .country-list a {

		&:hover {
			opacity: 0.7;
		}
	}

	& .country-list__email {
		color: #cac178;
		&:hover {
			color: #cac178;
		}
	}
	& .country-list__web {
		color: var(--color-theme-primary);
		&:hover {
			color: var(--color-theme-primary);
		}
	}
	& .country-list__instagram {
		color: #e1306c;
		&:hover {
			color: #e1306c;
		}
	}
	& .country-list__twitter {
		color: #1da1f2;
		&:hover {
			color: #1da1f2;
		}
	}
	& .country-list__facebook {
		color: #4267B2;
		&:hover {
			color: #4267B2;
		}
	}
	& .country-list__youtube {
		color: #FF0000;
		&:hover {
			color: #FF0000;
		}
	}
	& .country-list__telegram {
		color: #30a3e6;
		&:hover {
			color: #30a3e6;
		}
	}
	& .country-list__whatsapp {
		color: #25d366;
		&:hover {
			color: #25d366;
		}
	}
	& .country-list__linkedin {
		color: #2867b2;
		&:hover {
			color: #2867b2;
		}
	}
	& .country-list__donate {
		color: #008543;
		&:hover {
			color: #008543;
		}
	}
	/* TOOLTIP Temporary */
	& .has-children{
		position: relative;

		& .tooltip_expand {
			visibility: hidden;
			width: 240px;
			background-color: var(--color-theme-primary);
			color: #fff;
			text-align: center;
			font-size: var(--font-size-small);
			font-weight: 600;
			border-radius: 6px;
			padding: 5px 0;
			position: absolute;
			z-index: 1;
			top: 100%;
			left: 50%;
			margin-left: -120px;

			&::after {
				content: "";
				position: absolute;
				bottom: 100%;
				left: 50%;
				margin-left: -5px;
				border-width: 5px;
				border-style: solid;
				border-color: transparent transparent var(--color-theme-primary) transparent;
			}
			&.tooltip_hide{
				display:none;
			}		
			@media (--small) {
				visibility: visible;
			}
		}
		  &:hover .tooltip_expand {
			visibility: visible;
		  }
		  
	}

}
.country-list__icon {
	display: inline-block;
	vertical-align: middle;
	height: 28px;
}
.country-list__icon svg {
	height: 1.5rem;
	width: auto;
}
.country-list__flag{
	width: 28px;
	height: 28px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	position:absolute;
}

.country-list__title {
	display: inline-flex;
	font-size: var(--font-size-medium);
	margin: 0 var(--global-margin) 0 0;
  align-items: center;
}
.country-list__title .country-list__icon {
	margin-right: calc(var(--global-margin) / 2);
	
	& svg {
		height: 1.75rem;
		width:28px;
	}
}
.country-list__email {
	/* flex-basis: 50%;
	text-align: right; */
  /* margin-right: var(--global-margin);

	& a {
		font-family: var(--highlight-font-family);
		text-transform: uppercase;
		font-weight: 700;
	}

	&.country-list__icon svg {
		height: 1.25rem;
	} */
}
.country-list__contact-icons {
	display: inline-flex;
	justify-content: flex-end;

  @media (--small) {
		flex-grow: 1;
	}

	& a:not(:last-child) {
		margin-right: calc(var(--global-margin) / 2);
	}
}
