@import "_custom-properties.css";

body{
    background: var(--color-theme-white);
}
.country-table__wrapper{
    font-family: var(--highlight-font-family);

    & .country-table__content{
        font-size: var(--font-size-small);
        overflow-y: scroll;
        & a {
            font-family: var(--highlight-font-family);
            color: var(--global-font-color);

            &:hover{
                color: var(--color-link-active);
            }
        }
    }
}
table {
    border-collapse: collapse; 
    width: 100%;
}
td, th {
    border: 1px solid #f3f3f3;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #f3f3f3;
}

#btn_copy {
    padding: 8px;
    border-radius: 0;
    border: 0;
    text-transform: uppercase;
    font-size: var(--font-size-small);
    font-weight: 600;
    background: #bdbdbd;
    color: black;
    transition: all .2s ease;

    &:hover{
        background: var(--color-theme-primary);;
        color: var(--color-theme-white);
    }
}
#row-count{
    padding: 10px 5px;
    background: #a6a6a6;
    font-weight: 600;
    color: var(--color-theme-white);
}