/*--------------------------------------------------------------
# Frontpage
--------------------------------------------------------------*/

.home {

	& .site {
		padding: 0;
	}

	& .entry,
	& .entry-content {
		margin: 0;
	}

	/* overlay shape divider over frontpage slider */
	& .wp-block-coblocks-gallery-carousel + .wp-block-coblocks-shape-divider {
		margin-top: -25px;
	}

	& .wp-block-eedee-block-gutenslider + .wp-block-coblocks-shape-divider {

		@media (--tablet-up) {
			margin-top: -25px;
		}
	}

	& .wp-block-eedee-block-gutenslider {

		& .slick-dotted.slick-slider {
			margin: 0;
		}

		@media (--tablet-up) {
			& .slick-dots {
				bottom: 1.875rem;
			}
		}

	}

	& .site-footer {
		margin-top: 0;
	}

}

.what-we-do__section {

	background-image:
		url(../images/fist.svg),
		url(../images/planet-b.svg),
		url(../images/science.svg),
		url(../images/drop.svg);
	background-position:
		3% 0%,
		90% 70%,
		-100% -100%,
		-100% -100%;
	background-size:
		70px 70px,
		150px 100px,
		160px 100px,
		30px 40px;

	background-repeat: no-repeat;

	@media (--mobile-up) {
		background-position:
			5% 2%,
			95% 90%,
			-100% -100%,
			-100% -100%;
	}

	@media (--desktop-up) {
		background-position:
			7.5% 5%,
			93% 15%,
			5% 95%,
			87% 85%;
	}

	& .wwd-facts__subline.is-style-highlight {
		font-weight: 600 !important;
	}
}

/* Adjust facts column widths to prevent unwanted line-breaks */
.what-we-do__facts {

	@media (--tablet-up) {
		margin-left: -50px;
		margin-right: -50px;
	}
}

.what-can-you-do__section {

	background-image:
		url(../images/drop.svg),
		url(../images/leaves.svg),
		url(../images/degree.svg),
		url(../images/windmill.svg);
	background-position:
		5% 30%,
		95% 97%,
		-100% -100%,
		-100% -100%;
	background-size:
		30px 40px,
		80px 70px,
		160px 90px,
		80px 160px;

	background-repeat: no-repeat;

	@media (--tablet-up) {
		background-position:
			-100% -100%,
			90% 85%,
			5% 40%,
			90% 12%;
	}

	@media (--tablet-up) {

		& .wp-block-image {
			margin-bottom: 0;
		}
	}


}

.what-can-you-do__button-group {

	@media (--tablet-up) {
		margin-left: auto;
		margin-right: auto;
		max-width: calc(50% + var(--content-width) / 2);
	}

	& .wp-block-button {

		& svg {
			position: relative;
			top: 3px;
			fill: var(--color-theme-white);
			width: 20px;
			height: 20px;
		}
	}
}

.social-feed__section {

	background-image:
		url(../images/dove.svg),
		url(../images/hashtag.svg);
	background-position:
		-100% -100%,
		-100% -100%;
	background-size:
		110px 90px,
		240px 70px;
	background-repeat: no-repeat;

	@media (--tablet-up) {
		background-position:
			5% 0%,
			95% 0%;
	}

}

.wp-block-social-links {

	&.is-style-logos-only .wp-social-link svg {
		width: 60px;
		height: 60px;
	}
}

/* deprecated in favor of social icons block WP 5.4+ */
.social-icons__group {
	& .wp-block-coblocks-icon {
		margin: 0 0.5rem;
	}
	& .wp-block-coblocks-icon__inner a {
		left: 0; /* fix positioning bug */
	}
}
