/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Imports
	# Custom properties
	# Reset
	# Fonts
	# Typography
	# Elements
	# Links
# Accessibility
# Layout
# Forms
# Header
	# Main navigation menu
# Content navigation
# Footer
# Infinite scroll
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/
@import "_custom-properties.css";
@import "_reset.css";
@import "_fonts.css";
@import "_typography.css";
@import "_elements.css";
@import "_links.css";
@import "_off-canvas.css";

/*--------------------------------------------------------------
# Custom General
--------------------------------------------------------------*/

/* Headroom Admin Bar Tweaks */

@media (min-width: 783px) {
	body.admin-bar .site-header {
		&:not(.headroom),
		&.headroom--top,
		&.headroom--not-top {
			top: 32px;
		}
	}
}

@media (min-width: 600px) and (max-width: 782px) {
	body.admin-bar .site-header {
		&:not(.headroom),
		&.headroom--top,
		&.headroom--not-top {
			top: 46px;
		}
	}
}

@media (max-width: 599px) {
	body.admin-bar .site-header {
		&:not(.headroom),
		&.headroom--top {
			top: 46px;
		}
	}
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/**
 * Text meant only for screen readers.
 * Re: word-wrap: Many screen reader and browser combinations announce broken
 * words as they would appear visually.
 */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
.site {
	margin: 0 auto;
	max-width: 100%;
	padding-top: 12rem;
}

@media (--sidebar-query) {

	.has-sidebar .site {
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-gap: 2rem;
		justify-content: center;
	}

	.site-header {
		grid-column: span 2;
	}

	.site-main {
		grid-column: 1;
		min-width: 0;
	}

	.primary-sidebar {
		grid-column: 2;
		min-width: 0;
	}

	.site-footer {
		grid-column: span 2;
	}
}

/*----------------------
# Custom Page Templates
*-----------------------*/

/*
# ---- Keyvisual Template ---------
*/

body.page-template-tmpl-page-keyvisual, 
body.post-template-tmpl-page-keyvisual {

	& .site {
		padding-top: 0;
	}

	& .entry-header {
		margin-top: 0;
		margin-bottom: calc(var(--global-margin) * 3);
		max-width: 100%;
		padding: 0;
	}

	& .entry-header .entry-title {
		position: absolute;
		width: 100%;
		transform: translateY(-100%);
		margin: 0;
		padding: var(--global-padding);
		text-align: center;
		color: var(--color-theme-white);
		background-color: rgba(0,0,0, 0.35);
	}

	& .entry-header .post-thumbnail img {
		min-width: 100%;
		height: 85vh;
		object-fit: cover;

		@media (--tablet) {
			height: 80vh;
		}

		@media (--desktop-up) {
			height: 60vh;
		}
	}

}


/*
# ---- Blank Template ---------
*/

body.page-template-tmpl-page-blank,
body.post-template-tmpl-page-blank{
	& .site {
		padding-top: 0;
		& .site-main {
			& .entry {
				margin-bottom: 0;
				& .entry-content {
					margin: 0;
				}
			}
		}
		& .site-footer{
			margin: 0;
		}
	}
}
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/* stylelint-disable */
textarea {
	width: 100%;
}
/* stylelint-enable */

/* stylelint-disable */
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border-radius: 28px;
	background: var(--color-theme-green);
	color: var(--color-theme-white);
	font-size: 0.75rem;
	line-height: 1;
	padding: 0.6em 1em 0.4em;
	cursor: pointer;

	display: inline-block;
	text-decoration: none;
	text-align: center;
	overflow-wrap: break-word;
}

.button,
button {
	&.is-close {
		position: relative;
		min-width: 0;
		min-width: auto;
		border: 0;
		border-radius: 0;
		letter-spacing: normal;
		line-height: 1;
		padding: .5rem;
		margin: 0 -.5rem;
		background-color: transparent;
		text-decoration: none;

		& span {
			display: block;
			width: 24px;
			height: 1px;
			background-color: var(--color-theme-grey);

			&:first-child {
				transform: translate3d(0,6px,0) rotate(45deg);
			}
			&:not(:first-child) {
				margin-top: 5px;
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translate3d(0,-6px,0) rotate(-45deg);
			}
		}
	}
}
/* stylelint-enable */

/** 2Do: Fix inconsistencies between blocks/global styles */

/*
.button:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

.button:active,
.button:focus,
button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}
*/

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #333;
	border: 1px solid var(--color-theme-smoke);
	border-radius: var(--global-border-radius);
	padding: var(--global-input-padding);
	transition: box-shadow 0.2s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="number"]:hover,
input[type="tel"]:hover,
input[type="range"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="week"]:hover,
input[type="time"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="color"]:hover,
textarea:focus {
	box-shadow: var(--global-input-box-shadow);
}

select {
	border: 1px solid var(--color-theme-smoke);
}

/*---------------
# Gravity forms
-----------------*/
.gform_wrapper{
	& * {
		max-width: 100%;
	}
	& form{
		& .gform_heading{
			margin-bottom: 2rem;
			& .gform_title{
				font-size: var(--font-size-mediumlarge);
			}
			& .gform_description{
				font-family: var(--highlight-font-family);
				font-weight: 500;
				color: var(--color-quote-citation);
			}
		}
		& .validation_error{
			background-color: var(--color-theme-red);
			color: var(--color-theme-white);
			padding: var(--global-input-padding-small);
			border-radius: .5rem;
			margin-bottom: var(--global-margin);
		}
		& .gform_body{
			& ul{
				list-style: none;
				padding: 0;
				& li{
					margin-bottom: var(--global-margin);

					&.gfield_html {
						background-color: var(--color-theme-smoke);
						color: var(--global-font-color);
						padding: var(--global-input-padding-small);
						border-radius: .5rem;
						position: relative;
						padding-left: 30px;
						font-family: var(--highlight-font-family);
						font-weight: 400;
						&::before{
							content: "";
							background-color: var(--color-theme-secondary);
							display: block;
							width: 15px;
							height: 100%;
							left: 0;
							position: absolute;
							top: 0;
							border-top-left-radius: .5rem;
							border-bottom-left-radius: .5rem;
						}
						&.gform_alert{
							&::before{
								background-color: var(--color-theme-yellow);
							}
						}
						& a{
							font-family: var(--highlight-font-family);
						}
						& ol{
							margin-left: 0;
						}
					}

					&.gfield_error{
						& span,
						& .ginput_container{
							& select,
							& input,
							& textarea{
							border: solid 1px var(--color-theme-red);
							}
						}
						& .validation_message{
							color: var(--color-theme-red);
						}
					}

					&.hidden_label{
						& .gfield_label{
							display: none;
						}
					}

					& .gfield_label{
						font-family: var(--highlight-font-family);
						font-size: calc(var(--font-size-medium) + .15rem);
						font-weight: 600;
						& .gfield_required{
							color: var(--color-theme-red);
						}
					}
					& .gfield_description{
						font-family: var(--highlight-font-family);
						font-weight: 500;
						color: var(--color-quote-citation);
					}
					& .ginput_container{
						margin-top: .5rem;
						& input[type="text"],
						& input[type="email"],
						& input[type="url"],
						& input[type="password"],
						& input[type="search"],
						& input[type="number"],
						& input[type="tel"],
						& input[type="range"],
						& input[type="date"],
						& input[type="month"],
						& input[type="week"],
						& input[type="time"],
						& input[type="datetime"],
						& input[type="datetime-local"],
						& input[type="color"],
						& textarea{
							background-color: var(--color-theme-smoke);
							border-radius: .5rem;
							padding: var(--global-input-padding-small);
							width: 100%;
							&:hover{
								box-shadow: unset;
							}
						}
					}
					& .ginput_container_select{
						& select{
							font-family: var(--highlight-font-family);
							font-weight: 500;
							background-color: var(--color-theme-smoke);
							padding: var(--global-input-padding-small);
							border-radius: .5rem;
							padding-right: 2.4rem;
							-webkit-appearance: none;
							-moz-appearance: none;
							appearance: none;
							background-image: url(../images/arrow-down.svg);
							background-size: 26px;
							background-repeat: no-repeat;
							background-position: 97% 50%;
						}
					}	
					& .ginput_container_fileupload {
						
						& .gform_fileupload_multifile{
							background-color: var(--color-theme-smoke);
							border-radius: .5rem;
							padding: var(--global-input-padding-small);
							width: 100%;
	
							& .gform_drop_area{
								border: 1px solid var(--color-theme-grey);
								border-radius: inherit;
								padding: 1rem;
								display: flex;
								flex-direction: column;
								align-items: center;
	
								& .gform_drop_instructions{
									margin-right: .6rem;
									color: var(--global-font-color);
									font-family: var(--highlight-font-family);
								}
	
								& .gform_button_select_files{
									background-color: var(--color-theme-grey);
									border: 0;
									padding: var(--global-input-padding);
									font-size: var(--font-size-regular);
								}
							}
						}
					}
					& .ginput_preview {
						background-color: var(--color-theme-smoke);
						border-radius: .6rem;
						display: flex;
						padding: var(--global-input-padding-small);
						align-items: center;
						margin-bottom: 1rem;
					
						& .gform_delete {
							height: 15px;
							width: 15px;
							margin-right: .5rem;
	
							&:hover{
								cursor: pointer;
							}
						}
					}	
	
				}
			}
		}
		& .gform_footer{
			text-align: center;
			& .gform_button{
				border: unset;
				font-family: var(--highlight-font-family);
				font-weight: 600;
				font-size: 1.125rem;
				font-size: var(--font-size-regular);
				text-transform: uppercase;
				padding: .75rem 1.875rem;
				padding: var(--global-input-padding);
				margin: .25rem 0;
				-webkit-transition: all .2s ease;
				transition: all .2s ease;
				background-color: var(--color-theme-secondary);
				&:hover{
					background-color: var(--color-theme-green);
				}
			}
		}
	}

}
.has-theme-white-color{
	& .gform_wrapper{
		& form{
			& .gform_heading{ 
				& .gform_description{
					color: var(--color-theme-white);
				} 
			}
			& .gform_body{
				& ul{
					& li{
						& .gfield_description{
							color: var(--color-theme-smoke)
						}
					}
				}
			}
			& .gform_footer{
				& .gform_button{
					&:hover{
							background-color: var(--color-theme-white);
							color: var(--color-theme-secondary);
					}
				}
			}	
		}
	} 
}
.gform_confirmation_wrapper{
	background-color: var(--color-theme-green);
	padding: var(--global-input-padding-small) !important;
	border-radius: .5rem;

	@media (--mobile-only){
		max-width: 90% !important;
	}

	& .gform_confirmation_message {
		color: var(--color-theme-white);
		font-family: var(--highlight-font-family);
		font-weight: 500;
		font-size: var(--font-size-medium);
	}
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header {
	padding: var(--global-padding);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	/* enable headroom.js enhanced fixed header */
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;

	@media (--wide-menu-query) {

		padding: calc(var(--global-padding) * 1.5);
	}

	&.headroom {
		will-change: transform;
	}

	&.headroom--pinned {
		transform: translateY(0%);
		transition: transform 0.25s ease, background 0.3s ease 0.2s, backdrop-filter 0.3s linear 0.2s, padding 0.2s ease;
	}

	&.headroom--unpinned:not(.headroom--frozen) {
		transform: translateY(-100%);
		transition: transform 0.25s ease 1s, background 0.3s ease, backdrop-filter 0.3s linear, padding 0.2s ease;
	}

	&.headroom--not-top {
		padding: calc(var(--global-padding)*0.5);
		background: rgba(255,255,255,0.8);
		backdrop-filter: blur(10px);

		& .custom-logo-link {
			max-width: 60px;
		}

		& .city-search {

			& .icon {
				fill: var(--color-theme-white);
			}

			& input[type="search"],
			& input[type="search"]:focus {

				color: var(--color-theme-white);
				border-color: var(--color-theme-primary);
				background-color: var(--color-theme-primary);

				&::-webkit-input-placeholder {
					color: rgba(255,255,255,0.5);
				}

				&::-moz-placeholder {
					opacity: 1;
					color: rgba(255,255,255,0.5);
				}

				&:-ms-input-placeholder {
					color: rgba(255,255,255,0.5);
				}

				&:-moz-placeholder {
					color: rgba(255,255,255,0.5);
				}

			}

			& .search-submit {

				&:hover {
					& .icon {
						fill: var(--color-theme-green);
					}
				}
			}
		}

		@media (--narrow-menu-query) {

			& .city-search {

				& .expandable-search__btn {
					border-color: var(--color-theme-primary);
					background-color: var(--color-theme-primary);
				}
			}
		}

		@media (--wide-menu-query) {

			& .main-navigation {
				border: 1px solid var(--color-theme-smoke);
				background: var(--color-theme-white);
			}

			& .main-navigation .menu > li::after,
			& .main-navigation .menu > li > a {
				color: var(--color-theme-black);
			}

			& .main-navigation .menu > li > a {
				color: var(--color-theme-black);
			}

			& .main-navigation .menu > li.current-menu-item > a::after,
			& .main-navigation .menu > li.current-menu-parent > a::after {
				background-color: var(--color-theme-black);
			}
		}
	}
}

.header-nav-search {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
	align-items: center;

	@media (--narrow-menu-query) {

		flex-direction: row-reverse;
	}
	@media (--widescreen) {

		justify-content: flex-end;	/* fix nav search position, when site nav is absolute positioned (centered) */
	}
}

.header-image {
	margin: 0 auto;
}

.header-image img {
	display: block;
	margin: 0 auto;
}

.custom-logo-link {
	display: inline-block;
	max-width: 75px;

	transition: all 0.2s ease;

	@media (--wide-menu-query) {

		max-width: 120px;
	}
}

.site-branding {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.site-title {
	margin: 0 var(--global-margin);
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	font-size: 38px;
	font-weight: 700;
	line-height: 1.2;
	color: #333332;
}

.site-title a {
	text-decoration: none;
	color: inherit;
}

.site-description {
	margin: 0.4375em 0 0;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	font-size: 17px;
	font-weight: inherit;
	line-height: 1.4;
	word-wrap: break-word;
	color: #757575;
}

/*---------------------
 # Search Input Toggle
 *--------------------*/

.search-form-wrapper {

	& .input-control {
		position: relative;
	}

	& .icon {
		fill: var(--color-theme-green);
		transition: fill 0.2s ease;

		& svg {
			width: 100%;
			height: auto;
		}
	}

	& .search-submit {
		position: absolute;
		top: 0;
		right: 0;
		min-width: auto;
		margin: 0;
		padding: 12px 1rem;
		background: none;
		border: 0;

		&:hover {
			box-shadow: none;

			& .icon {
				fill: var(--global-font-color);
			}
		}
	}

	&.city-search .search-submit {
		display: none;
	}

	& input[type="search"] {
		width: 100%;
		color: var(--global-font-color);
		transition: width .3s ease-out, box-shadow .3s, background-color .3s;

		&::-webkit-input-placeholder {
			color: var(--color-theme-green);
		}

		&::-moz-placeholder {
			opacity: 1;
			color: var(--color-theme-green);
		}

		&:-ms-input-placeholder {
			color: var(--color-theme-green);
		}

		&:-moz-placeholder {
			color: var(--color-theme-green);
		}
	}

	&.site-search {
		max-width: 20rem;
	}

	@media (--wide-menu-query) {

		& .expandable-search__btn {
			display: none;
		}

		& input[type="search"] {
			padding-left: 1rem;
			padding-right: 3.25rem;

			&.expandable-search__input {
				width: var(--expandable-search-size-expanded);
			}

			&.expandable-search__input:focus,
			&.expandable-search__input--has-content {
				width: var(--expandable-search-size-wide);
			}
		}

		&.city-search {

			& .search-submit {
				display: initial;
			}
		}
	}

	@media (--narrow-menu-query) {

		margin-right: 0.5rem;
		margin-left: auto;

		& .expandable-search {
			position: relative;
			display: inline-block;
			user-select: none;
		}

		& input[type="search"] {

			&.expandable-search__input {
				width: var(--expandable-search-size-compact);
				/* padding: 0; */
				color: transparent;
				overflow: hidden;
				padding-left: 0;
				padding-right: 0;

				&::-webkit-input-placeholder {
					color: transparent;
				}

				&::-moz-placeholder {
					opacity: 0;
					color: transparent;
				}

				&:-ms-input-placeholder {
					color: transparent;
				}

				&:-moz-placeholder {
					color: transparent;
				}
			}

			&:hover {
				background-color: #eee;
				cursor: pointer;
			}

			&.expandable-search__input:focus,
			&.expandable-search__input--has-content {
				background-color: #eee;
				border-color: #eee;
				width: var(--expandable-search-size-wide);
				padding-left: 1rem;
				padding-right: calc(8px + var(--expandable-search-size-compact));
				color: var(--global-font-color);
				outline: none;
				cursor: auto;
				user-select: auto;

				&::-webkit-input-placeholder {
					color: var(--color-theme-green);
				}

				&::-moz-placeholder {
					opacity: 1;
					color: var(--color-theme-green);
				}

				&:-ms-input-placeholder {
					color: var(--color-theme-green);
				}

				&:-moz-placeholder {
					color: var(--color-theme-green);
				}
			}

			/*&:focus + .expandable-search__btn {
				pointer-events: auto;
			}*/

			&::-webkit-search-decoration,
			&::-webkit-search-cancel-button,
			&::-webkit-search-results-button,
			&::-webkit-search-results-decoration {
				display: none;
			}
		}

		& .expandable-search__btn {
			position: absolute;
			top: 0;
			right: 0;
			width: var(--expandable-search-size-compact);
			height: var(--expandable-search-size-compact);
			padding: 0;
			margin: 0;
			border: 0;
			border-radius: 50%;
			z-index: 1;
			pointer-events: none;
			transition: background-color .3s;
			min-width: 0;

			&:focus,
			&.is-active {
				outline: none;
				background-color: #eee;
				pointer-events: auto;

				& .icon {
					fill: var(--global-font-color);
				}
			}

			&:hover {
				outline: none;
				background-color: var(--color-theme-primary);

				& .icon {
					fill: var(--color-theme-white);
				}
			}
		}
	}

}

.searchbar-footer{
	& .search-form-wrapper{
		max-width: 26rem;
		margin-left: auto;
		margin-right: auto;
	}
}

/*--------------------------------------------------------------
## Basic navigation menus - handles submenu and small screen toggle
--------------------------------------------------------------*/
.nav--toggle-small .menu-toggle {
	display: block;
	/*margin: 1.2em auto;
	padding: 0.6em 1.2em 0.5em;*/
	font-family: var(--highlight-font-family);
	font-weight: 500;
	font-stretch: condensed;
	text-transform: uppercase;
	color: var(--color-theme-white);
	/*border: 2px solid var(--global-font-color);
	border-radius: 0;*/
	background: transparent;

	padding: 0;
	width: var(--expandable-search-size-compact);
	height: var(--expandable-search-size-compact);

	&.hamburger {

		& .hamburger-box {
			width: 30px;
			height: 15px;
		}

		& .hamburger-inner {
			margin-top: 0;
			left: 1px;
		}

		& .hamburger-inner,
		& .hamburger-inner::after,
		& .hamburger-inner::before {
			width: 27px;
			height: 4px;
			border-radius: 0;
			background-color: var(--color-theme-white);
		}

		/*&:not(.is-active) .hamburger-inner::before {
			top: -11px;
		}

		&:not(.is-active) .hamburger-inner::after {
			bottom: -11px;
		}*/
	}
}

.nav--toggle-small .menu {
	display: none;
}

.nav--toggle-sub .dropdown,
.nav--toggle-sub .dropdown-toggle {
	display: none;
}

@media (--narrow-menu-query) {

	.nav--toggle-small.nav--toggled-on .menu {
		display: block;
	}
}

@media (--wide-menu-query) {

	.nav--toggle-small .menu-toggle {
		display: none;
	}

	.nav--toggle-small .menu {
		display: block;
	}

	.nav--toggle-sub ul ul {
		display: none;
		position: absolute;
		top: 100%;
		flex-direction: column;
		background: #fff;
		margin-left: 0;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		z-index: 1;
	}

	.nav--toggle-sub .dropdown,
	.nav--toggle-sub .dropdown-toggle {
		display: block;
		background: transparent;
		position: absolute;
		right: 0;
		top: 50%;
		width: var(--dropdown-symbol-width);
		height: var(--dropdown-symbol-width);
		font-size: inherit;
		line-height: inherit;
		margin: 0;
		padding: 0;
		border: none;
		border-radius: 0;
		transform: translateY(-50%);
		overflow: visible;
	}

	/* MOD: hide the toggle icons on first level */
	.nav--toggle-sub .menu > li > .dropdown-toggle {
		display: none !important;
	}

	.nav--toggle-sub .dropdown-symbol {
		display: block;
		background: transparent;
		position: absolute;
		right: 20%;
		top: 35%;
		width: 60%;
		height: 60%;
		border: solid var(--color-theme-white);
		border-width: 0 2px 2px 0;
		transform: translateY(-50%) rotate(45deg);
	}

	.nav--toggle-sub ul ul .dropdown,
	.nav--toggle-sub ul ul .dropdown-toggle {
		top: 40%;
		right: 0.5em;
		transform: translateY(-40%);
	}

	.nav--toggle-sub ul ul .dropdown-symbol {
		border-color: var(--global-font-color);
		transform: rotate(-45deg);
	}

	.nav--toggle-sub .dropdown-toggle:hover,
	.nav--toggle-sub .menu-item--has-toggle:hover .dropdown-toggle {
		pointer-events: none;
	}

	/* Need menu-item-has-children for non-JS */
	.nav--toggle-sub li.menu-item-has-children,
	.nav--toggle-sub li.menu-item--has-toggle {
		position: relative;
		/* padding-right: var(--dropdown-symbol-width); */
	}

	/*
	 * If the dropdown toggle is active with JS, then
	 * we'll take care of showing the submenu with JS.
	 */
	.nav--toggle-sub li:hover > ul,
	.nav--toggle-sub li.menu-item--toggled-on > ul,
	.nav--toggle-sub li:not(.menu-item--has-toggle):focus > ul {
		display: block;
	}

	/*
	 * "focus-within" is an alternative to focus class for
	 * supporting browsers (all but IE/Edge) for no-JS context
	 * (e.g. AMP) See https://caniuse.com/#feat=css-focus-within
	 *
	 * This selector needs to stay separated, otherwise submenus
	 * will not be displayed with IE/Edge.
	 */
	.nav--toggle-sub li:not(.menu-item--has-toggle):focus-within > ul {
		display: block;
	}
}

/*--------------------------------------------------------------
## Main navigation menu
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	text-transform: uppercase;
	/* font-stretch: condensed; */
	background: var(--color-theme-green);
	border-radius: var(--global-border-radius);
	transition: background-color 0.5s ease;

	@media (--narrow-menu-query) {
		border-radius: 50%;
		/*margin-left: auto;*/
	}

	@media (--wide-menu-query) {
		margin: 0 auto;
	}

	@media (--widescreen) {
		/* center main nav - not working with nested flexbox layout */
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}

	&:hover {
		background: var(--color-theme-primary);
	}

}

.main-navigation a {
	position: relative;
	display: inline-block;
	/* padding: calc(var(--global-padding) / 2) var(--global-padding) calc(var(--global-padding) / 2) 0; */
	padding: 12px 15px;
	font-family: var(--highlight-font-family);
	font-weight: 500;
	text-decoration: none;
}

.main-navigation a:hover,
.main-navigation a:focus {

}

.main-navigation ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-navigation ul ul li {
}

.main-navigation .menu > li:not(:last-child) {

	&::after {
		content: "|";
		position: relative;
		color: var(--color-theme-white);
		font-weight: lighter;
		font-size: 24px;
		top: 3px;
	}
}

.main-navigation .menu > li > a {
	color: var(--color-theme-white);
}

.main-navigation .menu > li:first-child > a {
	padding-left: 30px;
}

.main-navigation .menu > li:last-child > a {
	padding-right: 30px;
}

.main-navigation .menu > li > .sub-menu {
	border-radius: calc(var(--global-border-radius) / 2);
	top: 85%;
}

.main-navigation .menu > li.current-menu-item > a::after,
.main-navigation .menu > li.current-menu-parent > a::after {
	content: "";
	position: absolute;
	bottom: 9px;
	left: 50%;
	transform: translateX(-50%);
	height: 3px;
	width: 30px;
	background-color: var(--color-theme-white);
}

.main-navigation .sub-menu {
	padding: 0.75rem 0;
}

.main-navigation .sub-menu a {

	color: var(--global-body-color);

	&:hover {
		background-color: var(--color-theme-smoke);
	}
}

.main-navigation .sub-menu li.current-menu-item > a {
	background-color: var(--color-theme-smoke);
}

@media (--wide-menu-query) {

	.main-navigation ul li a {
		/* padding: 0.4em var(--global-padding); */
	}

	.main-navigation ul li {
	}

	.main-navigation ul li:first-child {

	}

	.main-navigation ul ul a {
		width: 200px;
	}

	/* stylelint-disable */
	.main-navigation ul ul li {
		padding-left: 0;
		margin-left: 0;
	}
	/* stylelint-enable */

	.main-navigation ul ul li a {
		width: 218px;
		background: none;
	}

	.main-navigation ul ul ul.sub-menu {
		top: -0.75rem;
		left: 100%;
		min-height: 100%;
		border-top-right-radius: calc(var(--global-border-radius) / 2);
		border-bottom-right-radius: calc(var(--global-border-radius) / 2);
		border-bottom-left-radius: calc(var(--global-border-radius) / 2);
	}

	.main-navigation .menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

/*--------------------------------------------------------------
# Content navigation
--------------------------------------------------------------*/
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation,
.site-main .pagination {
	border-bottom: 1px solid #111;
	margin: 0 auto 2em;
	max-width: var(--content-width);
	overflow: hidden;
	padding: 0 1.5rem 2em;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
}

@media (--content-query) {

	.site-main .comment-navigation,
	.site-main .posts-navigation,
	.site-main .post-navigation,
	.site-main .pagination {
		padding-left: 0;
		padding-right: 0;
	}
}

.nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	width: 50%;
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

.post-navigation-sub span {
	color: var(--global-font-color);
	text-decoration: none;
	display: inline-block;
}

.site-main .pagination {
	margin-bottom: 1.5em;
}

.pagination .nav-links {
	justify-content: center;
	flex-wrap: wrap;
}

.pagination .page-numbers {
	display: inline-block;
	margin-bottom: 0.5em;
	margin-right: 1em;
	border: 1px solid var(--color-link);
	min-width: 1.75em;
	line-height: 1.75;
	text-align: center;
	text-decoration: none;
}

.pagination a:visited {
	color: var(--color-link);
}

.pagination a:hover,
.pagination a:focus,
.pagination a:active {
	border-color: #00a0d2;
}

.pagination .prev,
.pagination .next {
	min-width: auto;
	border-color: transparent;
	text-decoration: underline;
}

.pagination .prev:hover,
.pagination .prev:focus,
.pagination .prev:active,
.pagination .next:hover,
.pagination .next:focus,
.pagination .next:active {
	border-color: transparent;
}

.pagination .dots {
	min-width: auto;
	border: none;
}

.pagination .current {
	border-color: var(--global-font-color);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
	margin: 4rem 0 0;
	padding: var(--global-padding) 0 0;
	font-family: var(--highlight-font-family);
	/* font-stretch: condensed; */

	@media (--mobile) {

		background-image:
			url(../images/windmill.svg),
			url(../images/science.svg),
			url(../images/leaves.svg);

		background-position:
			80% 15%,
			85% 50%,
			95% 88%;

		background-size:
			80px 160px,
			160px 100px,
			80px 70px;

		background-repeat: no-repeat;
	}

	& .site-info {
		font-family: var(--global-font-family);
		font-weight: lighter;
		font-size: var(--font-size-small);
		text-align: center;
		margin: calc(var(--global-margin) * 3) auto var(--global-margin);

		& a {
			text-decoration: underline;
		}

		& .sep {
			display: none;
		}

		& .site-info__span {
			display: block;
		}

		@media (--tablet-up) {

			margin: calc(var(--global-margin) * 1.5) auto 0;

			& .sep {
				display: initial;
			}

			& .site-info__span {
				display: initial;
			}
		}
	}
}

body.is-marginless {

	&.page-template-tmpl-page-keyvisual .entry-header {
		margin: 0;
	}

	& .entry,
	& .entry-content,
	& .entry-summary,
	& .page-content {
		margin: 0;
	}

	& .site-footer {
		margin: 0;
	}
}

.footer-inner {
	max-width: var(--container-width);
	margin: 0 auto;
	padding: var(--global-content-padding);
}

.footer-main {
	font-family: var(--highlight-font-family);
	display: grid;
	grid-gap: calc(var(--global-margin) * 2);

	@media (--tablet-up) {
		grid-template-columns: 2fr 1fr;
		justify-content: center;
	}
}

.footer-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-transform: uppercase;

	& li a {
		font-family: var(--highlight-font-family);
		font-weight: 500;
		color: var(--color-theme-white);

		&:hover {
			color: var(--color-link-active);
		}
	}

	&.menu {
		& > li > a {
			border-bottom: 3px solid var(--color-theme-white);

			&:hover {
				border-color: var(--color-link-active);
			}
		}

		@media (--tablet-up) {
			/*columns: 2;*/
			display: flex;
			flex-wrap: wrap;

			& > li {
				width: 50%;
				padding-right: calc(var(--global-padding) * 2.5);

				/* manipulate ordering */
				&:nth-child(1) {
					order: 3;
				}
				&:nth-child(2) {
					order: 1;
				}
				&:nth-child(3) {
					order: 2;
				}
				&:nth-child(4) {
					order: 4;
				}
				&:nth-child(n+5) {
					order: 5;
				}

			}
		}
	}

	&.sub-menu {
		margin: var(--global-margin) 0 calc(var(--global-margin) * 1.5);

		& .sub-menu {
			padding-left: calc(var(--global-padding) * 1.5);
			margin: calc(var(--global-margin) / 4) 0 calc(var(--global-margin) / 3);
		}
	}
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll .pagination,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that
were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}
