/*--------------------------------------------------------------
# Social Feed
--------------------------------------------------------------*/

.social-feed__wrapper {}

.social-feed__content {

	& .entry-meta {
		display: block;
		margin: 0;
		color: var(--color-theme-grey);
	}
}

.entry-content {

	& .social-feed {
		list-style: none;
		margin: 0;
		padding: 0;
		font-size: var(--font-size-small);

		display: flex;

		/* ensure graceful fallback */
		&.unitialized {
			flex-wrap: wrap;
			justify-content: space-between;

			& .grid-item {
				@media (--tablet-up) {
					width: 48%;
				}
				@media (--widescreen) {
					width: 31%;
				}
			}
		}
	}

  /* enable column layout with the help of colcade */
	& .social-feed .grid-col {
		flex-grow: 1;

		@media (--mobile-only) {
			&.grid-col__1{
				max-width: 100%;
			}
			&.grid-col__2,
			&.grid-col__3 {
				display: none;
			}
		}

		@media (--tablet-up) {

			&.grid-col__1 {
				margin-right: calc(var(--global-margin) * 1);
				max-width:50%;
			}
			&.grid-col__2 {
				display: block;
				max-width: 50%;
			}
			&.grid-col__3 {
				display: none;
			}
		}
		@media (--widescreen) {
			
			&.grid-col__1 {
				margin-right: calc(var(--global-margin) * 2);
				max-width: 33.333%;
			}
			&.grid-col__2 {
				margin-right: calc(var(--global-margin) * 2);
				max-width: 33.333%;
			}
			&.grid-col__3 {
				display: block;
				max-width: 33.333%;
			}
		}
	}

  & .social-feed .grid-item {
		background-color: var(--color-theme-white);
		border-radius: 1rem;
		padding: var(--global-padding);
		margin-bottom: calc(var(--global-margin) * 2);

	}
}

.js .social-feed:not(.unitialized) .grid-item {
	transition: all 0.2s ease-in;
	transform: translateY(-3px);
	opacity: 0;

	&.is-loaded {
		transform: translateY(0);
		opacity: 1;
		/* overflow-wrap: break-word; */
	}
}

.social-feed__header {
	display: flex;
	align-items: center;
	margin-bottom: var(--global-margin);
}
.social-feed__channel-logo {
	margin-right: calc(var(--global-margin) / 2);
	& img {
		max-width: 3rem;
		border-radius:100%;
	}
}
.social-feed__channel-name {
	display: block;
	font-weight: bold;
}

.social-feed__title {
	margin: 0;
}

.social-feed__image-link {
	display: block;
	margin: 0 calc(var(--global-padding) * -1) var(--global-margin);

	& img {
		width: 100%;
		margin: 0 auto;
	}
}
.social-feed__description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
.has-theme-secondary-background-color .social-feed a {
	color: var(--body-font-color);
}

.social-feed__footer {
	display: flex;
	padding-top: calc(var(--global-padding) / 2);
	border-top: 1px solid var(--color-theme-smoke);

	&.entry-meta {
		margin-top: var(--global-margin);
	}

	& span {
		display: inline-block;
		margin: 0 calc(var(--global-margin) / 2);

		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}

.social-feed__alert {
	font-size: var(--font-size-small);
	text-align: center;
	border-radius: 0.5rem;
	max-width: var(--content-width);
	padding: var(--global-padding);
}


/*! Flickity v2.2.1
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */

.flickity-button {
	background: unset;
	color:#fff;
	transition: all .2s ease;
	opacity:.8;
}

.flickity-button:hover {
  cursor: pointer;
  background:none;
}

.flickity-button:focus {
  outline: none;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: currentColor;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
}

.flickity-prev-next-button.previous { left: 10px; }
.flickity-prev-next-button.next { right: 10px; }
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: 0;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: 0;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */

.flickity-page-dots {
	position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}

.flickity-rtl .flickity-page-dots { direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

